
@media (max-width: 595px) { 
	.profile-header {
		background-color: #F7F9F9;
		border-top: 10px solid #778492;
		margin-bottom: 40px; 
		text-align: center;
	}
}

@media (min-width: 596px) { 
	.profile-header {
		background-color: #F7F9F9;
		border-top: 10px solid #778492;
		margin-bottom: 40px; 
	}

	.profile-element {
		float: left;
	}
}

body {
    background-color: #D7DBDD;
    font-size: 18px;
}


header h1, header h3 {
	margin: 0; 
}


.jumbotron {
	padding: 10px;
}

.page-strip {
	height: 10px;
	background-color: #5D6D7E;
}

.profile-name {
	font-weight: bold;
}

.profile-desc {
	margin-bottom: 10px;
}

.heading {
	font-weight: bold;
}

.padding {
	padding: 20px;
}

