@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@layer components {
  .badge {
    @apply inline-flex items-center gap-1 bg-blue-100 text-slate-900 px-2.5 py-0.5 rounded transition-all hover:scale-105;
  }
}

html {
  scroll-behavior: smooth;
}

html.dark svg[data-light-icon] {
  display: none;
}

html:not(.dark) svg[data-dark-icon] {
  display: none;
}

body {
  margin: 0;
  min-height: 100vh;
  background-size: 300% 300%;
  animation: RotateGradient 30s ease infinite;
}

@property --gradient-angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@keyframes RotateGradient {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}
