@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

html.dark [data-light-theme] {
  display: none;
}

html:not(.dark) [data-dark-theme] {
  display: none;
}

body {
  margin: 0;
  min-height: 100vh;
  background-size: 300% 300%;
  animation: MoveBG 60s ease infinite;
}

@keyframes MoveBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
